<!DOCTYPE html>
<html>
	<head>
		<title>
			Blog
		</title>
		<link rel="stylesheet", href="/style.css", type="text/css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="myscript.js"></script>
	</head>
	<body>
		<div id="flash">
			<%=flash[:notice] if flash[:notice] %>
			<%=flash[:alert] if flash[:alert] %>
		</div>
		<div id="container">
			<% if session[:user_id] %>
				<div id="nav">
					<ul id="nav">
						<li>
							Hello, <%= @user.fname if @user %>
						</li>
						<li>
							<a href="/home">
								Home
							</a>
						</li>
						<li>
							<a href="/profile">
								Me
							</a>
						</li>
						<li>
							<a href="/discover">
								Discover
							</a>
						</li>
						<li>
							<a href ="/settings">
								Settings
							</a>
						</li>
						<li>
							<a href="/logout">
								Logout
							</a>
						</li>
					</ul>
				</div>
			<% end %>

			<%= yield %>
		</div>
	</body>
</html>