<div id="columnone">

	<p id="welcome">
		Welcome
	</p>

</div>

<div id="columntwo">

	<div id="signin">

	<h2>
		Sign In
	</h2>

	<form method="POST" action="/sessions/new">
		<input type="text" name="email" placeholder="Email" size="34">
		<br>
		<input type="password" name="password" placeholder="Password" size="34">
		<br>
		<input class="submit" type="submit" value="Sign In">
	</form>

	<hr>

	<h2>
		Sign Up
	</h2>

	<form method="POST" action="/users/new">
		<input type="text" name="[user]email" placeholder="Email" size="34">
		<br>
		<input type="text" name="[user]username" placeholder="Username" size="34">
		<br>
		<input type="text" name="[user]fname" placeholder="First name" size="34">
		<br>
		<input type="text" name="[user]lname" placeholder="Last name" size="34">
		<br>
		<input type="password" name="[user]password" placeholder="Password" size="34">
		<br>
		<input type="password" name="[user]confirm_password" placeholder="Confirm password" size="34">
		<br>
		<input class="submit" type="submit" value="Sign Up">
	</form>

	</div>

</div>